.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Main-loader-div {

  position: absolute;
  /* width: 100%;
  height: 100%;
  z-index: 1001; */
  /* -webkit-filter: blur(8px);
-moz-filter: blur(8px);
-ms-filter: blur(8px);
-o-filter: blur(8px);
filter: blur(8px); */
}

.Main-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
}

.Secondary-loader {
  position: relative;
  top: 50%;
  left: 50%;
}

.Page-container {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Border-elevation {
  border: 1px solid #000;
  border-top-color: #d7d7d7;
  border-left-color: #d7d7d7;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
}

.Status-dot-dropdown {
  height: 10px !important;
  width: 10px !important;
  border-radius: 50% !important;
  display: inline-block !important;
  margin-right: 10px !important;
}


.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root{
  z-index: 10003 !important;
}